header{
    background: #383838;
    display: flex;
    justify-content: space-between;
    height:4rem;
    text-align:center;
     
}
header > h1{
    background-color: #90d1d4;
    padding-left: 50px;
    width:400px;
    color:#383838;
    font-weight:950;
    font-size:25px;
    height: 3rem;
    height:70%;
    display:inline;
}
.links{
    list-style-type: none;
    text-decoration:none;
    color:#90d1d4;   
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle; 
}
li{
    display: inline-block;
}
.headImage{
    height: 100px; 
    width: 100%; 
    overflow: hidden; 
    position:relative;
}
h2{
    font-size: 1.5rem;
    padding: .25rem;
    color: #90d1d4;
    background-color: #383838;
    display: flex;
    justify-content: right;
    padding: .5rem;
    position: absolute;
    bottom: 2vh;
    right: 0;
}
